{% extends 'tienda/layout.html' %}
{% block content %}
<div class="col-lg-9">

  <div class="card mt-4">
    <img class="card-img-top img-fluid" src="{% if producto.imagen != null %}
      {{ producto.imagen.url }}
  {% endif %}" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ producto.nombre }}</h3>
      <h4>S./ {{ producto.precio }}</h4>
      <p class="card-text">{{ producto.categoria.nombre }}</p>
      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
      4.0 stars
      <br>
      <a class="btn btn-primary" href="{% url 'tienda:agregarCarrito' producto.id %}" role="button">Agregar Carrito</a>
    </div>
  </div>

</div>
{% endblock %}